<h3>Here are all of the Books:</h3>
<p>
  <ul>
    <% @books.each do |book| %>
      <li><%=book.title%>, by <%=book.author%> <a href="/books/<%=book.id %>">Link</a></li>
    <%end%>
  </ul>
</p>
<p><a href="/books/new">Add a New Book</a></p>
<p><a href="/logout">Log Out</a></p>
