<!doctype html>
<html>
  <head>
    <title>Virtual Library</title>
  </head>
  <body>

    <div class="container">
      <h1>You have arrived at the Virtual Library!</h1>
      <%= yield %>
    </div>

  </body>
</html>
